.modal-shim {
    @apply absolute top-0 left-0 flex items-center justify-center h-full w-full z-100;

    background: rgba(69, 79, 84, .5);

    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.modal {
    @apply p-8 w-128 rounded;

    background: rgba(9, 22, 29, .85);
    box-shadow: 0 0 3px rgba(0, 0, 0, .7);
}

.modal-title {
    @apply font-semibold text-center text-2xl leading-none mb-2;
    color: theme('colors.text-white');
}

.modal-footer {
    @apply flex justify-end;
}
