.btn {
    @apply text-center font-bold px-3 py-2 rounded;

    -webkit-font-smoothing: antialiased;
}

.btn-blue-dark {
    @apply bg-blue-dark text-white;

    &:hover, &:focus {
        @apply bg-blue-darker;
    }
}

.btn-small {
    @apply p-1 font-semibold tracking-wide;

    font-size: 14px;
}

.btn-transparent {
    @apply bg-transparent text-grey-dark;

    &:hover, &:focus {
        @apply text-white;

        background: hsla(0, 0%, 100%, 0.1);
    }
}
