@import "variables";

// Node Packages
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~sweetalert2/dist/sweetalert2.css";

.viewer {
    background-color: transparent;
    padding-top: 100px;
}

.btn {
    border-radius: 0;
}

.form-control {
    border-radius: 0;
    box-shadow: none;
    color: $twitch-text-color;

    &:focus {
        box-shadow: none;
    }
}

.modal-content, .modal-header, .modal-footer {
    border-radius: 0;
}
