.viewer {
    section {
        @apply px-1 flex flex-col overflow-y-auto;

        box-sizing: border-box;
    }

    ul {
        @apply list-reset mb-2 overflow-y-auto;

        li {
            @apply p-1;

            box-sizing: border-box;
            color: hsla(0, 0%, 100%, .8);
            cursor: pointer;
            margin: 2px 0;
            transition: background-color .15s ease-out;

            &:hover, &.active {
                @apply text-white;

                background: hsla(0, 0%, 100%, .1);
            }
        }
    }

    #extension-overlay {
        @apply absolute pin;
    }

    .panel {
        h2 {
            @apply text-white font-normal text-sm leading-tight p-2 m-0;
        }
    }

    .tile {
        @apply flex;

        .tile-content {
            @apply flex flex-col justify-center;
        }

        .tile-content {
            @apply flex min-w-0;

            &:not(:first-child) {
                @apply ml-3;
            }

            &:not(:last-child) {
                @apply mr-3;
            }
        }
    }

    .search-bar {
        @apply p-2;

        button {
            @apply absolute w-auto;

            top: 5px;
            right: 5px;
        }

        form {
            @apply relative;
        }

        input {
            padding-right: 62px;

            &:disabled {
                color: hsla(0, 0%, 100%, .3);
                padding-right: .25rem;
            }
        }

        .clear {
            @apply absolute cursor-pointer;

            color: hsla(0, 0%, 100%, .8);
            top: 9px;
            right: 36px;
        }
    }

    .form-control {
        @apply bg-transparent rounded py-2 px-1 w-full text-sm text-white;

        border: 1px solid hsla(0, 0%, 100%, .3);
        box-sizing: border-box;

        &:focus {
            background-color: hsla(0, 0%, 100%, .05);
            border-color: hsla(0, 0%, 100%, .5);
        }
    }

    .btn-menu {
        @apply pin-b absolute;

        box-shadow: 0 0 3px rgba(0, 0, 0, .7);
    }

    .queue {
        li {
            cursor: unset;

            &.active {
                @apply bg-blue-dark;
            }
        }
    }
}

.mobile {
    background: rgb(50, 47, 55);

    section {
        min-height: 40px;
        max-height: 150px;
    }
}

.video-component {
    section {
        min-height: 40px;
        max-height: 108px;
    }

    .menu-container {
        @apply absolute z-50;

        bottom: 85px;

        &.left {
            left: 15px;
        }

        &.right {
            right: 15px;

            .btn-menu, .menu {
                right: 0;
                transform-origin: bottom right;
            }

            .menu {

            }
        }
    }

    .menu {
        @apply relative rounded overflow-hidden absolute;

        background: rgba(18, 28, 33, .95);
        bottom: 42px;
        height: 224px;
        width: 256px;

        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }

    .notifications {
        bottom: 85px !important;
        width: 206px !important;

        &.left {
            left: 65px;
        }

        &.right {
            right: 65px;
        }

        .vue-notification {
            margin: 0 !important;
        }
    }
}
